<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Current?</th>
    </tr>
    <tr>
      <td><%= @deck.name %></td>
      <td><%= current_deck?(@deck) %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
<%= render template: 'cards/index' %>
