<h3><%= t('.login_statement') %> <%= link_to t('.signup_lowcase'), signup_path %></h3>
<%= form_tag(user_sessions_path, method: :post) do %>
  <div class='form-group'>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, nil, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= label_tag :password %><br />
    <%= password_field_tag :password, nil, class: 'form-control' %>
  </div><br>
  <div class='form-group'>
    <%= submit_tag t(:login), class: 'btn btn-primary form-control' %>
  </div>
<% end %>
<p style="text-align: center;">or</p>
<p>
<%= link_to t(:login_gb), auth_at_provider_path(provider: :github),
        class: "btn btn-primary form-control", style: "background-color:#444;" %>
</p>
