<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
     integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to 'Flashcard manager', root_path, class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if controller.action_name == 'home' %>">
            <%= link_to 'Home', root_path %>
          </li>
          <% if current_user %>
            <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
            <li><%= link_to "Logout", :logout, method: :post %></li>
          <% else %>
            <li><%= link_to "Sign Up", :register%></li>
            <li><%= link_to "Login", :login %></li>
            <li>
              <%= link_to 'Login with GitHub',
                  auth_at_provider_path(provider: :github) %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <section id="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <header class="clearfix" >
        <h1>Флэшкарточкер</h1>
        <% if current_user %>
        <ul class="navigation-links">
          <li><%= link_to 'Все карточки', cards_path %></li>
          <li>
            <%= link_to 'Добавить карточку', new_card_path %>
          </li>
        </ul>
        <% end %>
      </header>

      <section>
        <%= yield %>
      </section>
    </section>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
